# Python virtual environment
.venv/
venv/
env/
ENV/

# Dataset
dataset/
processed_data_sample/
processed_data/


# Older files
normalization.py
validation_stage0.py

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*

# Python packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log